.header-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-page {
    border-bottom: 1px solid #ececec;
}

.navigation {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.logotyp {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-size: 26px;
    color: var(--accent-color);
}